@{
    ViewData["Title"] = "Index Page";
}

<div class="text-center">
    <h1 class="display-4">Hi~ Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@* 첫번째 방식
<h1>사용자 번호: @Model.UserNo</h1>
<h1>사용자 이름: @Model.UserName</h1>*@

@*두번째 방식
<h1>사용자 번호: @ViewBag.User.UserNo</h1>
<h1>사용자 이름: @ViewBag.User.UserName</h1>*@

세번째 방식
<h1>사용자 번호: @ViewData["UserNo"]</h1>
<h1>사용자 이름: @ViewData["UserName"]</h1>